.main-layout-container {
  height: 100%;

  .sider-block {
    position: relative;
    height: 100%;
    overflow-y: scroll;

    .ant-menu {
      border: 0;
    }
    
    .logo {
      margin: 5px auto;
      text-align: center;

      img {
        width: 50px;
        height: 50px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .main-container {
    height: 100%;

    .header-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      background-color: #fff;
    }

    .content-block {
      overflow: auto;
      padding: 16px;
      margin: 24px 24px 0 24px;
      border-radius: 4px;
      background-color: #fff;
    }
    
    .footer-block {
      text-align: center;
    }
  }

}