.new_user_container {
	
	.btn_create {
  	margin-top: 16px;
  }
  
}

.modal_create_success {
  margin: 0;
  padding:0;
  list-style: none;

  .content_text {
    color: #000;
    font-size: 16px;
    margin-left: 8px;
  }
}
  
